.container {
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container div:first-child {
  font-size: 9rem;
  font-weight: 500;
  line-height: 0.8;
}

.container div:last-child {
  width: fit-content;
  margin: 0 auto;

  padding: 0.3rem 1rem;
  margin-bottom: 6rem;
}


// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container div:first-child {
    font-size: 12rem;
  }

  .container div:last-child {
    padding: 0.3rem 4rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container div:first-child {
    font-size: 15rem;
    font-weight: 500;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}