@import url('assets/libs/fonts.css');

// Variable overrides first
$primary: #ffb727;
/* $enable-shadows: true;
$prefix: "mo-"; */
$font-family-sans-serif: 'BeVietnamPro', sans-serif;

$navbar-light-toggler-icon-bg-closed: url('assets/icon-close.svg');
$navbar-light-toggler-icon-bg-open: url('assets/icon-hamburger.svg');
$navbar-toggler-icon-bg: $navbar-light-toggler-icon-bg-open;

@import "../node_modules/bootstrap/scss/bootstrap";

/* html,
body {
  height: 100%;
}*/

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label,
.mat-mdc-card-title {
  font-family: $font-family-sans-serif !important;
}

html {
  font-size: 20px;
}

button {
  font-size: 16px;
}

.navbar {
  display: flex !important;
  align-items: flex-start !important;
  background: rgba(25, 28, 31, 0.8);

  a {
    color: #ffffff !important;

    &:hover {
      color: #ffb727 !important;
    }
  }

  .nav-link {
    color: $white;
    font-weight: 700 !important;

    &.active {
      color: #ffb727 !important;
    }
  }

  .offcanvas {
    background: #1D1D1D;
    width: 100% !important;
  }

  .open {
    background-image: $navbar-light-toggler-icon-bg-open;
  }

  .btn-close {
    background-image: $navbar-light-toggler-icon-bg-closed;
    opacity: inherit;
  }

  .btn-navbar {
    background-color: unset;
    color: $white;
    border-color: $white;
  }

  .navbar-nav a {
    position: relative;

    &:hover::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffb727;
      bottom: -2px;
      left: 0;
    }
  }

  ul {
    list-style: none !important;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {

    .navbar-nav .border-top,
    .navbar-nav .border-bottom {
      border: 0 !important;
    }

    .nav-link {
      font-weight: 700 !important;
      color: var(--bs-nav-link-color);
    }

    .redes {
      display: none;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: 18px;
  }

  button {
    font-size: 18px !important;
    width: 10rem;
    height: 2.6rem !important
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}